.TopHeader {
text-align: center;
font-size: 80px;
color: white;
background-color: rgb(20, 45, 168);
}

.crflag {
float: right;
height: 80px;
width: 150px;
}

.nav {
  word-spacing: 200px;
  text-align: center;
  
}
li {
  display: inline;
  font-size: 40px;
  text-align: center;
}


.Log {
  font-size: 40px;
 float: right;
 padding-right: 30px;
 color: rgb(13, 0, 255);
 border: none;
}

.Log:hover {
  color: rgb(246, 113, 72);
}




.headers {
  font-size: 20px;
  color: rgb(0, 81, 255);
  background-color: white;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(227, 232, 227);
}


.img {
  width: auto;
}

.Rio {
 
}

.Beach {
float: right;
padding: 200px;
font-size: 70px;
color: rgb(38, 237, 237);


}
.ballena {
  padding-bottom: 20px;
}
  
  .Jungle {
 color: rgb(157, 233, 56);
 font-size: 70px;
 padding-bottom: 80px;
  }
  
  .City {
  font-size: 70px;
  color: blue;
  }

  .container {
    width: 85vmin;
    height: 600px;
    position: absolute;
    transform: translate(-50%,-50%);
    top:66%;
    left:50%;
    overflow:hidden;
    border:20px solid #ffffff;
    border-radius: 8px;
    box-shadow: 10px 25px 30px rgba(30, 200, 109, 0.3);
  }
  

.wrapper {
  width:auto;
  display: flex;
  height: auto;
  animation: slide 12s infinite;
}

@keyframes slide {
  0%{
        transform: translateX(0);
      }
  25%{
        transform: translateX(0);
      }
      30%{
        transform: translateX(-100%);
      }
      50%{
        transform: translateX(-100%);
      }
      55%{
        transform: translateX(-200%);
      }
      75%{
        transform: translateX(-200%);
      }
      80%{
        transform: translateX(-300%);
      }
      100%{
        transform: translateX(-300%);
      }
    }

